@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Space Grotesk", "sans-serif";
  overflow-x: hidden;
}

.slick-dots {
  bottom: 15px !important;
  z-index: 20;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.5;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ef4444 !important;
}

.slick-prev,
.slick-next {
  z-index: 20;
  width: 50px;
  height: 50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: white;
  opacity: 0.8;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

@media (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px;
  }

  .slick-dots {
    bottom: 10px !important;
  }
}
